@{
    var anoAtual = DateTime.Now.Year;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="DataMind Desenvolvimento e Consultoria LTDA.">
    <meta name="language" content="pt-BR">
    <meta name="description" content="A Datamind é especializada em desenvolvimento de software, soluções de inteligência artificial, machine learning e business intelligence para transformar seu negócio.">
    <meta name="keywords" content="desenvolvimento de software, inteligência artificial, machine learning, BI, consultoria tecnológica, sistemas personalizados, ciência de dados, análise de dados">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Datamind - Desenvolvimento e Consultoria">
    <meta property="og:description" content="Desenvolvemos sistemas personalizados e aplicamos tecnologia de ponta para transformar seus dados em decisões estratégicas.">
    <meta property="og:image" content="~/imgs/logo_grande.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://datamindtecnologia.com.br">
    <title>DataMind - Desenvolvimento e Consultoria</title>

    <link rel="icon" href="~/imgs/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" rel="stylesheet">
    <link href="~/assets/css/font-awesome-all.css" rel="stylesheet">
    <link href="~/assets/css/flaticon.css" rel="stylesheet">
    <link href="~/assets/css/owl.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/assets/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="~/assets/css/animate.css" rel="stylesheet">
    <link href="~/assets/css/imagebg.css" rel="stylesheet">
    <link href="~/assets/css/global.css" rel="stylesheet">
    <link href="~/assets/css/header.css" rel="stylesheet">
    <link href="~/assets/css/color.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/responsive.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body class="boxed_wrapper">
    <div class="preloader">
        <div id="handle-preloader" class="handle-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="D" class="letters-loading">D</span>
                    <span data-text-preloader="A" class="letters-loading">A</span>
                    <span data-text-preloader="T" class="letters-loading">T</span>
                    <span data-text-preloader="A" class="letters-loading">A</span>
                    <span data-text-preloader="M" class="letters-loading">M</span>
                    <span data-text-preloader="I" class="letters-loading">I</span>
                    <span data-text-preloader="N" class="letters-loading">N</span>
                    <span data-text-preloader="D" class="letters-loading">D</span>
                </div>
            </div>
        </div>
    </div>
    <div id="search-popup" class="search-popup">
        <div class="close-search"><span>Fechar</span></div>
        <div class="popup-inner">
            <div class="overlay-layer"></div>
            <div class="search-form">
                <form method="post" action="https://st.ourhtmldemo.com/new/Naxly/index.html">
                    <div class="form-group">
                        <fieldset>
                            <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required>
                            <input type="submit" value="Search Now!" class="theme-btn style-four">
                        </fieldset>
                    </div>
                </form>
                <h3>Recent Search Keywords</h3>
                <ul class="recent-searches">
                    <li><a href="index-2.html">Finance</a></li>
                    <li><a href="index-2.html">Idea</a></li>
                    <li><a href="index-2.html">Service</a></li>
                    <li><a href="index-2.html">Growth</a></li>
                    <li><a href="index-2.html">Plan</a></li>
                </ul>
            </div>
        </div>
    </div>
    <header class="main-header style-one home-1">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-12 col-sm-12 logo-column">
                    <div class="logo-box style-two">
                        <figure class="logo"><a href="~/Home/Index"><img src="~/imgs/logo.png" alt=""></a></figure>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 outer-column">
                    <div class="outer-box">
                        <div class="header-top clearfix">
                            <div class="top-right pull-right clearfix">
                                <div class="support"><i class="flaticon-music"></i><span>Dê o primeiro passo no seu projeto</span><a href="tel:556299768312">(62) 9 9976-8312</a></div>
                                <ul class="social-links clearfix">
                                    <li><a href="index-2.html"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="index-2.html"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="index-2.html"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <div class="search-box-outer">
                                    <form action="https://st.ourhtmldemo.com/new/Naxly/index.html" method="post" class="search-btn">
                                        <button type="button" class="search-toggler"><i class="flaticon-search"></i>Pesquisar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="header-upper clearfix">
                            <div class="menu-area pull-right clearfix">
                                <div class="mobile-nav-toggler">
                                    <i class="icon-bar"></i>
                                    <i class="icon-bar"></i>
                                    <i class="icon-bar"></i>
                                </div>
                                <nav class="main-menu navbar-expand-md navbar-light">
                                    <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                        <ul class="navigation clearfix">
                                            <li class="current"><a href="~/Home/Index">Home</a></li>
                                            <li class="dropdown">
                                                <a href="index-2.html">Company</a>
                                                <ul>
                                                    <li><a href="about.html">About Company<i class="flaticon-next"></i></a></li>
                                                    <li><a href="team.html">Meet Our Team<i class="flaticon-next"></i></a></li>
                                                    <li><a href="contact.html">Contact Us<i class="flaticon-next"></i></a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="index-2.html">Services</a>
                                                <ul>
                                                    <li><a href="service.html">All Services<i class="flaticon-next"></i></a></li>
                                                    <li><a href="service-details.html">Service Details<i class="flaticon-next"></i></a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="index-2.html">Works</a>
                                                <ul>
                                                    <li><a href="project.html">Project 2 Columns<i class="flaticon-next"></i></a></li>
                                                    <li><a href="project-2.html">Project 3 Columns<i class="flaticon-next"></i></a></li>
                                                    <li><a href="project-3.html">Case Studies<i class="flaticon-next"></i></a></li>
                                                    <li><a href="project-details.html">Case Details<i class="flaticon-next"></i></a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="index-2.html">Blog</a>
                                                <ul>
                                                    <li><a href="blog-1.html">Classic Grid<i class="flaticon-next"></i></a></li>
                                                    <li><a href="blog-2.html">Classic With S/B<i class="flaticon-next"></i></a></li>
                                                    <li><a href="blog-3.html">Modern With S/B<i class="flaticon-next"></i></a></li>
                                                    <li><a href="blog-4.html">Masonry<i class="flaticon-next"></i></a></li>
                                                    <li><a href="blog-details.html">Single Post<i class="flaticon-next"></i></a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="index-2.html">Elements</a>
                                                <div class="megamenu">
                                                    <div class="row clearfix">
                                                        <div class="col-lg-3 column">
                                                            <ul>
                                                                <li><h4>Elements 1</h4></li>
                                                                <li><a href="service-element-1.html">Service 01</a></li>
                                                                <li><a href="service-element-2.html">Service 02</a></li>
                                                                <li><a href="about-element-1.html">About 01</a></li>
                                                                <li><a href="about-element-2.html">About 02</a></li>
                                                                <li><a href="about-element-3.html">About 03</a></li>
                                                                <li><a href="about-element-4.html">About 04</a></li>
                                                                <li><a href="about-element-5.html">About 05</a></li>
                                                                <li><a href="about-element-6.html">About 06</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-3 column">
                                                            <ul>
                                                                <li><h4>Elements 2</h4></li>
                                                                <li><a href="work-element-1.html">Work 01</a></li>
                                                                <li><a href="work-element-2.html">Work 02</a></li>
                                                                <li><a href="skills-element-1.html">Skills 01</a></li>
                                                                <li><a href="skills-element-2.html">Skills 02</a></li>
                                                                <li><a href="case-element-1.html">Case 01</a></li>
                                                                <li><a href="case-element-2.html">Case 02</a></li>
                                                                <li><a href="case-element-3.html">Case 03</a></li>
                                                                <li><a href="case-element-4.html">Case 04</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-3 column">
                                                            <ul>
                                                                <li><h4>Elements 3</h4></li>
                                                                <li><a href="counter-element-1.html">Fun Fact 01</a></li>
                                                                <li><a href="counter-element-2.html">Fun Fact 02</a></li>
                                                                <li><a href="counter-element-3.html">Fun Fact 03</a></li>
                                                                <li><a href="counter-element-4.html">Fun Fact 04</a></li>
                                                                <li><a href="news-element-1.html">News 01</a></li>
                                                                <li><a href="news-element-2.html">News 02</a></li>
                                                                <li><a href="news-element-3.html">News 03</a></li>
                                                                <li><a href="news-element-4.html">News 04</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-3 column">
                                                            <ul>
                                                                <li><h4>Elements 4</h4></li>
                                                                <li><a href="choose-element-1.html">Choose Us 01</a></li>
                                                                <li><a href="choose-element-2.html">Choose Us 02</a></li>
                                                                <li><a href="choose-element-3.html">Choose Us 03</a></li>
                                                                <li><a href="team-element-1.html">Team 01</a></li>
                                                                <li><a href="team-element-2.html">Team 02</a></li>
                                                                <li><a href="team-element-3.html">Team 03</a></li>
                                                                <li><a href="team-element-4.html">Team 04</a></li>
                                                                <li><a href="technology-element-1.html">Technology</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dropdown">
                                                <a href="index-2.html">Pages</a>
                                                <ul>
                                                    <li><a href="error.html">404<i class="flaticon-next"></i></a></li>
                                                    <li><a href="coming-soon.html">Coming Soon<i class="flaticon-next"></i></a></li>
                                                    <li><a href="faq.html">Faq’s<i class="flaticon-next"></i></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                                <div class="btn-box">
                                    <a href="index-2.html" class="theme-btn style-one">Get in Touch</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <figure class="logo-box"><a href="~/Home/index"><img src="~/imgs/logo_menor.png" alt=""></a></figure>
                <div class="menu-area">
                    <nav class="main-menu clearfix">
                    </nav>
                    <div class="btn-box">
                        <a href="index-2.html" class="theme-btn style-one">Entre em Contato</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><i class="fas fa-times"></i></div>
        <nav class="menu-box">
            <div class="nav-logo"><a href="index-2.html"><img src="~/assets/images/logo.png" alt="" title=""></a></div>
            <div class="menu-outer"></div>
            <div class="contact-info">
                <h4>Contato</h4>
                <ul>
                    @* <li>Chicago 12, Melborne City, USA</li> *@
                    <li><a href="tel:+5562999768312">(62) 9 9976-8312</a></li>
                    <li><a href="mailto:datamind@outlook.com.br">datamind@outlook.com.br</a></li>
                </ul>
            </div>
            <div class="social-links">
                <ul class="clearfix">
                    @* <li><a href="index-2.html"><span class="fab fa-twitter"></span></a></li> *@
                    <li><a href="index-2.html"><span class="fab fa-facebook-square"></span></a></li>
                    @* <li><a href="index-2.html"><span class="fab fa-pinterest-p"></span></a></li> *@
                    <li><a href="index-2.html"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="index-2.html"><span class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </nav>
    </div>
    @RenderBody()
    <footer class="main-footer">
        <div class="footer-top">
            <div class="auto-container">
                <div class="widget-section">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-title">
                                    <h3>Entre em Contato</h3>
                                    <div class="decor" style="background-image: url(../assets/images/icons/decor-3.png);"></div>
                                </div>
                                <div class="widget-content">
                                    @* <div class="box">
                                        <h5>Office Location</h5>
                                        <p>124, Queens walk 2nd cross newyork 5241</p>
                                    </div> *@
                                    <div class="box">
                                        @* <h5>Quick Contact</h5> *@
                                        <ul class="clearfix">
                                            <li><i class="flaticon-music"></i><a href="tel:+5562999768312">(62) 9 9976-8312</a></li>
                                            <li><i class="flaticon-gmail"></i><a href="mailto:datamind@outlook.com.br">datamind@outlook.com.br</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Links Úteis</h3>
                                    <div class="decor" style="background-image: url(../assets/images/icons/decor-3.png);"></div>
                                </div>
                                <div class="widget-content">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12 column">
                                            <ul class="links clearfix">
                                                <li><a href="index-2.html">Linkedin</a></li>
                                                <li><a href="index-2.html">Instagram</a></li>
                                                <li><a href="index-2.html">Youtube</a></li>
                                                <li><a href="index-2.html">Whatsapp</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 column">
                                            <ul class="links clearfix">
                                                <li><a href="~/Home/Index">Home</a></li>
                                                <li><a href="index-2.html">Empresa</a></li>
                                                <li><a href="index-2.html">Serviços</a></li>
                                                <li><a href="index-2.html">Contato</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 footer-column">
                            <div class="footer-widget about-widget">
                                <div class="widget-title">
                                    <h3>DataMind</h3>
                                    <div class="decor" style="background-image: url(../assets/images/icons/decor-3.png);"></div>
                                </div>
                                <div class="widget-content">
                                    <div class="box">
                                        <figure class="logo"><a href="index-2.html"><img src="~/imgs/logo_branca.png" alt=""></a></figure>
                                        <div class="text">
                                            <p>Somos uma empresa especializada em desenvolver soluções tecnológicas personalizadas para transformar dados em decisões estratégicas, impulsionando o crescimento e a eficiência dos nossos clientes.</p>
                                        </div>
                                    </div>
                                    @* <div class="subscribe-box">
                                        <form action="https://st.ourhtmldemo.com/new/Naxly/index.html" method="post">
                                            <div class="form-group">
                                                <input type="email" name="email" placeholder="E-mail..." required="">
                                                <button type="submit" class="theme-btn style-one">Subscribe Us</button>
                                            </div>
                                        </form>
                                    </div> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom style-one">
            <div class="auto-container clearfix">
                <div class="copyright pull-left">
                    <p>Copyright &copy; <a href="~/Home/index">DataMind</a>, Todos os Direitos Reservados.</p>
                </div>
                <ul class="footer-nav pull-right">
                    <li><a href="index-2.html">Política de Privacidade</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fas fa-angle-up"></span>
    </button>

    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/validation.js"></script>
    <script src="~/assets/js/jquery.fancybox.js"></script>
    <script src="~/assets/js/appear.js"></script>
    <script src="~/assets/js/jquery.countTo.js"></script>
    <script src="~/assets/js/scrollbar.js"></script>
    <script src="~/assets/js/tilt.jquery.js"></script>
    <script src="~/assets/js/script.js"></script>
</body>
</html>
