@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="DataMind Desenvolvimento e Consultoria LTDA.">
    <meta name="language" content="pt-BR">
    <meta name="description" content="A Datamind é especializada em desenvolvimento de software, soluções de inteligência artificial, machine learning e business intelligence para transformar seu negócio.">
    <meta name="keywords" content="desenvolvimento de software, inteligência artificial, machine learning, BI, consultoria tecnológica, sistemas personalizados, ciência de dados, análise de dados">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Datamind - Desenvolvimento e Consultoria">
    <meta property="og:description" content="Desenvolvemos sistemas personalizados e aplicamos tecnologia de ponta para transformar seus dados em decisões estratégicas.">
    <meta property="og:image" content="~/imgs/logo_grande.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://datamindtecnologia.com.br">
    <title>DataMind - Desenvolvimento e Consultoria</title>

    <link rel="icon" href="~/imgs/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" rel="stylesheet">
    <link href="~/assets/css/font-awesome-all.css" rel="stylesheet">
    <link href="~/assets/css/flaticon.css" rel="stylesheet">
    <link href="~/assets/css/owl.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/assets/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="~/assets/css/animate.css" rel="stylesheet">
    <link href="~/assets/css/imagebg.css" rel="stylesheet">
    <link href="~/assets/css/global.css" rel="stylesheet">
    <link href="~/assets/css/header.css" rel="stylesheet">
    <link href="~/assets/css/color.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/responsive.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body class="boxed_wrapper">
    <div class="preloader">
        <div id="handle-preloader" class="handle-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="D" class="letters-loading">D</span>
                    <span data-text-preloader="A" class="letters-loading">A</span>
                    <span data-text-preloader="T" class="letters-loading">T</span>
                    <span data-text-preloader="A" class="letters-loading">A</span>
                    <span data-text-preloader="M" class="letters-loading">M</span>
                    <span data-text-preloader="I" class="letters-loading">I</span>
                    <span data-text-preloader="N" class="letters-loading">N</span>
                    <span data-text-preloader="D" class="letters-loading">D</span>
                </div>
            </div>
        </div>
    </div>
    <section class="coming-soon">
        <div class="image-layer" style="background-image: url(../assets/images/background/comingsoon-1.jpg);"></div>
        <div class="pattern-layer" style="background-image: url(../assets/images/shape/shape-54.png);"></div>
        <div class="outer-conainer clearfix">
            <div class="inner-box">
                <div class="content-box">
                    <div class="upper-box">
                        <figure class="logo-box"><a href="#"><img style="max-width:300px" src="~/imgs/logo_completa.png" alt=""></a></figure>
                        <h2>Site em Construção</h2>
                        <p>Estamos trabalhando para trazer um site inovador e completo para você. <br />Em breve, todas as informações e novidades estarão disponíveis aqui. <br/>Aguarde!</p>
                    </div>
                    @* <div class="timer">
                        <div class="cs-countdown" data-countdown="04/24/2020 05:06:59"></div>
                    </div> *@
                   @*  <div class="lower-box">
                        <form action="https://st.ourhtmldemo.com/new/Naxly/contact.html" method="post" class="subscribe-form">
                            <div class="form-group clearfix">
                                <input type="email" name="email" placeholder="Email Address..." required="">
                                <button type="submit" class="theme-btn style-one">Subscribe Us</button>
                            </div>
                        </form>
                        <ul class="social-links clearfix">
                            <li><a href="index-2.html"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="index-2.html"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="index-2.html"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="index-2.html"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div> *@
                </div>
            </div>
        </div>
    </section>
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fas fa-angle-up"></span>
    </button>

    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/validation.js"></script>
    <script src="~/assets/js/jquery.fancybox.js"></script>
    <script src="~/assets/js/appear.js"></script>
    <script src="~/assets/js/isotope.js"></script>
    <script src="~/assets/js/jquery.countTo.js"></script>
    <script src="~/assets/js/scrollbar.js"></script>
    <script src="~/assets/js/tilt.jquery.js"></script>
    <script src="~/assets/js/countdown.js"></script>
    <script src="~/assets/js/script.js"></script>
</body>
</html>
